body {
    background-image: url('https://pbs.twimg.com/media/DsVtVRMUcAAWgUR.jpg:large');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.header {
    background-color: green;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.fixed-bottom-right {
    background-color: #28a745;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 18px;
    border: none;
}

.modal-body {
    max-height: calc(100vh - 200px);
    overflow-y: auto;
}

.btn-kirim {
    background-color: #28a745;
    border-color: #28a745;
}

.btn-kirim:hover {
    background-color: #218838;
    border-color: #1e7e34;
}

.message-bubble {
    background-color: #007bff;
    color: white;
    max-width: 80%;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.message-bubble.other {
    background-color: #28a745;
}

.message-bubble p {
    margin: 5px 0;
}
